@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('./static/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@layer base {
    :root {
        --background: #ffffff;
        --bg-card: #ededed;
        --bg-accent: radial-gradient(
            circle at 35% 35%,
            rgb(225, 105, 96),
            rgba(138, 153, 229, 0.826)
        );
        --text-button: #ebebeb;
        --text-foreground: #0d0d0d;
        --shadow-accent: 0 0 40px rgba(221, 119, 119, 0.6);
    }

    .dark {
        --background: #090909;
        --bg-card: #131313;
        --bg-accent: radial-gradient(
            circle at 35% 35%,
            rgba(255, 99, 162, 0.652),
            rgba(109, 123, 210, 0.653)
        );
        --text-button: #fbfbfb;
        --text-foreground: #ededed;
        --shadow-accent: 0 0 40px rgba(173, 85, 85, 0.25);
    }
}

@layer components {
    .bg-background {
        @apply bg-[var(--background)];
    }
    .bg-card {
        @apply bg-[var(--bg-card)];
    }
    .bg-accent {
        background: var(--bg-accent);
    }
    .shadow-accent {
        @apply bg-[var(--shadow-accent)];
    }
    .text-button {
        color: var(--text-button);
    }
    .text-foreground {
        color: var(--text-foreground);
    }
}

@layer base {
    body {
        color: var(--text-foreground);
        font-family: 'Inter';
    }
}
